*.cab
*.gem
*.lnk
*.msi
*.msix
*.msm
*.msp
*.rbc
*.stackdump
*.swp
*~
$RECYCLE.BIN/
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.bundle/
.byebug_history
.com.apple.timemachine.donotpresent
.config
.directory
.DocumentRevisions-V100
.DS_Store
.env
.fseventsd
.fuse_hidden*
.LSOverride
.nfs*
.ruby-gemset
.ruby-version
.rvmrc
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
.vscode
.yardoc/
_yardoc/
coverage/
[Dd]esktop.ini
doc/
ehthumbs.db
ehthumbs_vista.db
Gemfile.lock
# Icon must end with two \r
Icon
InstalledFiles
lib/bundler/man/
Network Trash Folder
pkg/
rdoc/
spec/examples.txt
spec/reports/
Temporary Items
test/tmp/
test/version_tmp/
Thumbs.db
Thumbs.db:encryptable
tmp/
vendor/bundle
