*.gem
*.rbc
*.swp
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.bundle/
.byebug_history
.com.apple.timemachine.donotpresent
.config
.env
.fseventsd
.ruby-gemset
.ruby-version
.rvmrc
.vscode
.yardoc/
Folder
Gemfile.lock
Icon
InstalledFiles
Items
Network
Temporary
Trash
_yardoc/
coverage/
doc/
lib/bundler/man/
pkg/
rdoc/
spec/examples.txt
spec/reports/
test/tmp/
test/version_tmp/
tmp/
vendor/bundle
